.add-food form{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.add-food form input{
    width: 60%;
    margin-bottom: 20px;
}